@font-face {
  font-family: "Mikado";
  src: url('Mikado.otf')
}
@font-face {
  font-family: "Ubuntu";
  src: url('Ubuntu.ttf')
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 300vh;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #1cc2ff;
}
.top {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #0BF, #00ffa9);
}
.middle {
  height: 120vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom left, #00ffa9, #0BF);
}
.bottom {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #0BF, #00ffa9);
}
.outerCircle {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 3px #fff;
  transition: 0.4s;
  background-color: #0BF;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #00ffa9, #0BF);
}
.outerCircle:hover {
  cursor: pointer;
}
.innerCircle {
  width: 450px;
  height: 450px;
  border-radius: 250px;
  background-color: white;
  transition: 0.4s;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  font-size: 69px;
  font-family: 'Mikado';
  line-height: 80px;
  letter-spacing: 4px;
  color: #aaa;
  transition: 0.4s;
  user-select: none;
}
.middleContainer {
  top: 1000px;
  width: 80vw;
  height: 120vh;
  /* margin-top: 30%; */
}
.middleStrip {
  width: 100%;
  height: calc((100%/5)*2.4);
  transition: 1s;
}
.box {
  height: 100%;
  width: calc((120vh/5)*2.4);
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
/* .floatLeft {
  float: left !important;
}
.floatRight {
  float: right !important;
}
.textRight {
  text-align: right !important;
} */
.boxBorder {
  width: 80%;
  height: 80%;
  border-radius: 20%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(to bottom left, #0BF, #00ffa9); */
  /* box-shadow: 0px 0px 5px 3px #fff; */
}
.boxImg {
  width: 90%;
  height: 90%;
  border-radius: 20%;
}
.middleTextContainer {
  float: right;
  height: 100%;
  line-height: 100%;
  width: calc(100% - 120vh/5*2.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.textContainer {
  width: 100%;
}
.middleTitle {
  text-align: left;
  margin-left: 40px;
  font-size: 30px;
  font-family: "Ubuntu";
  font-weight: bold;
  color: white;
}
.middleText {
  text-align: left;
  margin-left: 40px;
  font-size: 16px;
  font-family: "Ubuntu";
  color: #eaeaea;
}
a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .button {
  width: 200px;
  height: 60px;
}
.buttonShadow {
  z-index: 1;
  height: 50px;
  width: 200px;
  background-color: gray;
  position: absolute;
  margin-top: 10px;
  border-radius: 20px;
  transition: 0.4s;
  cursor: pointer;
}
button {
  z-index: 2;
  width: 200px;
  height: 50px;
  background-color: white;
  border: 0;
  font-size: 22px;
  border-radius: 20px;
  transition: 0.4s;
  position: absolute;
  margin-top: 5px;
  cursor: pointer;
  font-family: "Ubuntu";
  color: black;
} */
button:focus {
  outline: 0;
}
